In [1]:
import pandas as pd
import sqlite3
import datetime as dt
import os
from pathlib import Path
import akshare as ak
import traceback

In [2]:
spot_sina = ak.stock_zh_a_spot()

In [3]:
spot_em = ak.stock_zh_a_spot_em()
spot_sh_em = ak.stock_sh_a_spot_em()
spot_sz_em = ak.stock_sz_a_spot_em()
spot_bj_em = ak.stock_bj_a_spot_em()
spot_bew_em = ak.stock_new_a_spot_em()
spot_kc_em = ak.stock_kc_a_spot_em()

In [5]:
print(spot_em.shape)
print(spot_sh_em.shape )
print(spot_sz_em.shape )
print(spot_bj_em.shape )
print(spot_bew_em.shape)
print(spot_kc_em.shape )
print(spot_sina.shape )

(5014, 23)
(2180, 23)
(2734, 23)
(100, 23)
(373, 24)
(436, 23)
(4826, 13)

In [6]:
spot_sz_em.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2734 entries, 0 to 2733
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   序号       2734 non-null   int64
 1   代码       2734 non-null   object
 2   名称       2734 non-null   object
 3   最新价      2629 non-null   float64
 4   涨跌幅      2629 non-null   float64
 5   涨跌额      2629 non-null   float64
 6   成交量      2629 non-null   float64
 7   成交额      2629 non-null   float64
 8   振幅       2629 non-null   float64
 9   最高       2629 non-null   float64
 10  最低       2629 non-null   float64
 11  今开       2629 non-null   float64
 12  昨收       2731 non-null   float64
 13  量比       2627 non-null   float64
 14  换手率      2629 non-null   float64
 15  市盈率-动态   2647 non-null   float64
 16  市净率      2647 non-null   float64
 17  总市值      2654 non-null   float64
 18  流通市值     2650 non-null   float64
 19  涨速       2629 non-null   float64
 20  5分钟涨跌    2629 non-null   float64
 21  60日涨跌幅   2731 non-null   float64
 22  年初至今涨跌幅  2731 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 491.4+ KB

In [7]:
spot_sh_em.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2180 entries, 0 to 2179
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   序号       2180 non-null   int64
 1   代码       2180 non-null   object
 2   名称       2180 non-null   object
 3   最新价      2081 non-null   float64
 4   涨跌幅      2081 non-null   float64
 5   涨跌额      2081 non-null   float64
 6   成交量      2081 non-null   float64
 7   成交额      2081 non-null   float64
 8   振幅       2081 non-null   float64
 9   最高       2081 non-null   float64
 10  最低       2081 non-null   float64
 11  今开       2081 non-null   float64
 12  昨收       2176 non-null   float64
 13  量比       2080 non-null   float64
 14  换手率      2081 non-null   float64
 15  市盈率-动态   2092 non-null   float64
 16  市净率      2092 non-null   float64
 17  总市值      2099 non-null   float64
 18  流通市值     2097 non-null   float64
 19  涨速       2081 non-null   float64
 20  5分钟涨跌    2081 non-null   float64
 21  60日涨跌幅   2176 non-null   float64
 22  年初至今涨跌幅  2176 non-null   float64
dtypes: float64(20), int64(1), object(2)
memory usage: 391.8+ KB

In [18]:
spot_bj_em.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   序号       100 non-null    int64
 1   代码       100 non-null    object
 2   名称       100 non-null    object
 3   最新价      98 non-null     float64
 4   涨跌幅      98 non-null     float64
 5   涨跌额      98 non-null     float64
 6   成交量      98 non-null     float64
 7   成交额      98 non-null     float64
 8   振幅       98 non-null     float64
 9   最高       98 non-null     float64
 10  最低       98 non-null     float64
 11  今开       98 non-null     float64
 12  昨收       100 non-null    float64
 13  量比       98 non-null     float64
 14  换手率      98 non-null     float64
 15  市盈率-动态   100 non-null    float64
 16  市净率      100 non-null    float64
 17  总市值      100 non-null    int64
 18  流通市值     100 non-null    int64
 19  涨速       98 non-null     float64
 20  5分钟涨跌    98 non-null     float64
 21  60日涨跌幅   100 non-null    float64
 22  年初至今涨跌幅  100 non-null    float64
dtypes: float64(18), int64(3), object(2)
memory usage: 18.1+ KB

In [9]:
spot_sina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4826 entries, 0 to 4825
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   代码      4826 non-null   object
 1   名称      4826 non-null   object
 2   最新价     4826 non-null   float64
 3   涨跌额     4826 non-null   float64
 4   涨跌幅     4826 non-null   float64
 5   买入      4826 non-null   float64
 6   卖出      4826 non-null   float64
 7   昨收      4826 non-null   float64
 8   今开      4826 non-null   float64
 9   最高      4826 non-null   float64
 10  最低      4826 non-null   float64
 11  成交量     4826 non-null   float64
 12  成交额     4826 non-null   float64
dtypes: float64(11), object(2)
memory usage: 490.3+ KB

In [16]:
spot_bj_em[spot_bj_em["最新价"] == 0]

KeyError: "None of [Float64Index([ 7.44,  9.74,  64.6, 12.74,  87.6, 69.95,  13.8,  6.04, 20.85,\n               3.79,  10.6,  7.99,  9.15,  8.39,  6.53,  4.27,  7.77,  7.99,\n               3.98, 14.89,  15.7,  6.39,   8.2,  6.74, 15.79,   3.6,  5.57,\n               3.72,  5.63,  3.93,  7.96,  6.42,  9.49, 10.02, 11.83,  3.18,\n               9.82,  6.71,  3.57,  7.39,  7.94, 12.32,  4.68, 10.12,  5.59,\n               5.61,  7.18,  8.66,  9.13, 10.18,  13.7,  6.34, 18.66, 43.16,\n               11.0,   6.2,   nan,   nan, 13.75,  6.37,  5.91, 16.68, 13.27,\n               9.06, 17.19,   7.8,  7.45,  5.42,  5.37,  5.36, 10.66,  5.06,\n                5.0, 12.15, 18.75,  3.71,  7.23,  9.43,  9.25,  5.38,  5.22,\n               9.22,  5.96,  3.95,  5.51, 16.29,  5.83,  9.89, 14.13,  7.54,\n               5.02,   5.6,  6.34,  4.08,  11.7,  3.75, 10.56,  5.42,  5.99,\n                8.7],\n             dtype='float64')] are in the [columns]"

In [25]:
spot_bj_em[spot_bj_em["最新价"]== None]

Empty DataFrame
Columns: [序号, 代码, 名称, 最新价, 涨跌幅, 涨跌额, 成交量, 成交额, 振幅, 最高, 最低, 今开, 昨收, 量比, 换手率, 市盈率-动态, 市净率, 总市值, 流通市值, 涨速, 5分钟涨跌, 60日涨跌幅, 年初至今涨跌幅]
Index: []

[0 rows x 23 columns]

In [29]:
spot_bj_em[spot_bj_em["最新价"].isnull()]

,序号,代码,名称,最新价,涨跌幅,涨跌额,成交量,成交额,振幅,最高,...,量比,换手率,市盈率-动态,市净率,总市值,流通市值,涨速,5分钟涨跌,60日涨跌幅,年初至今涨跌幅
56,57,833994,翰博高新,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,39.26,2.95,4089141000,2306779124,NaN,NaN,0.0,0.0
57,58,833874,泰祥股份,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36.36,3.69,1961037000,490259250,NaN,NaN,0.0,0.0