In [1]:
from datetime import datetime
from pathlib import Path
import pandas as pd
import tushare as ts
import numpy as np
import random as rd
import time,sys,os,sqlite3
import akshare as ak
import traceback

In [128]:
root = Path("./../..")
datapath = root.joinpath(Path("data/tushare_old/all"))
datapath.resolve()

WindowsPath('D:/gitee/data/tushare_old/all')

In [75]:
pa = pd.read_excel(datapath.joinpath(Path("000001.xlsx")).resolve())

In [69]:
pa.index = pa["date"]
pa.sort_index(inplace=True)
pa["avg5"] = pa.close.rolling(5).mean().round(3)
pa1 = pa.dropna(inplace=False)
pa1

,date,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover,avg5
date,,,,,,,,,,,,,,,,
2021-06-07,2021-06-07,24.48,24.48,24.30,23.93,447914.09,-0.24,-0.98,24.084,24.352,23.944,545619.87,613158.06,545848.34,0.23,24.084
2021-06-08,2021-06-08,24.15,24.57,24.53,23.95,570077.94,0.23,0.95,24.206,24.345,23.994,534631.87,572928.39,549491.07,0.29,24.206
2021-06-09,2021-06-09,24.43,24.88,24.65,24.18,453831.53,0.12,0.49,24.358,24.309,24.049,525892.77,526385.17,545519.38,0.23,24.358
2021-06-10,2021-06-10,24.66,25.06,24.20,24.15,530215.19,-0.45,-1.83,24.444,24.250,24.106,551755.64,528997.55,544547.52,0.27,24.444
2021-06-11,2021-06-11,24.31,24.35,23.37,23.12,834665.06,-0.83,-3.43,24.210,24.137,24.108,567340.76,563223.99,558091.50,0.43,24.210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-14,2022-10-14,11.45,11.63,11.53,11.40,1096061.62,0.19,1.68,11.484,11.738,12.163,777916.73,781880.89,946408.95,0.56,11.484
2022-10-17,2022-10-17,11.42,11.52,11.48,11.34,1024822.75,-0.05,-0.43,11.486,11.686,12.101,789665.24,793990.26,900085.23,0.53,11.486
2022-10-18,2022-10-18,11.55,11.64,11.48,11.46,946837.12,0.00,0.00,11.486,11.619,12.028,895981.99,809711.74,861292.59,0.49,11.486
2022-10-19,2022-10-19,11.42,11.49,11.29,11.28,923989.69,-0.19,-1.66,11.424,11.537,11.956,968865.44,824018.14,864590.28,0.48,11.424
2022-10-20,2022-10-20,11.23,11.31,11.20,11.16,781923.19,-0.09,-0.80,11.396,11.471,11.866,954726.87,810438.66,811635.55,0.40,11.396

In [143]:
def cal_ma(df,seq):
    """
    用收盘价计算n天ma，在df上直接添加相应列
    df中需要有日期列
    """
    df.sort_values(by='date', ascending=True, inplace=True)
    for i in seq:
        df["avg"+str(i)] = df.close.rolling(i).mean().round(3)
        df["v_avg"+str(i)] = df.volume.rolling(i).mean().round(2)
    res = df.dropna(inplace=False).sort_values(by='date', ascending=False, inplace=False)
    return res

def acc_check(df,seq):
    for i in seq:
        if sum(df["v_avg"+str(i)] - df["v_ma"+str(i)].astype(float) > 0.001): print("voluma ma {} 计算有问题".format(i)) 
        if sum(df["avg"+str(i)] - df["ma"+str(i)].astype(float)  > 0.001): print("voluma ma {} 计算有问题".format(i)) 
    return

In [125]:
pa1 = cal_ma(pa,[3,5,10,20,60])

In [126]:
acc_check(pa1,[5,10,20])

In [111]:
pa1

,date,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover,avg3,avg5,avg10,avg20,avg60,v_avg3,v_avg5,v_avg10,v_avg20,v_avg60
0,2022-10-20,11.23,11.31,11.20,11.16,781923.19,-0.09,-0.80,11.396,11.471,11.866,954726.87,810438.66,811635.55,0.40,11.323,11.396,11.471,11.865,12.289,884250.00,954726.87,810438.66,811635.55,977280.23
1,2022-10-19,11.42,11.49,11.29,11.28,923989.69,-0.19,-1.66,11.424,11.537,11.956,968865.44,824018.14,864590.28,0.48,11.417,11.424,11.537,11.955,12.326,965216.52,968865.44,824018.14,864590.28,977605.82
2,2022-10-18,11.55,11.64,11.48,11.46,946837.12,0.00,0.00,11.486,11.619,12.028,895981.99,809711.74,861292.59,0.49,11.497,11.486,11.619,12.028,12.361,1022573.83,895981.99,809711.74,861292.59,974799.28
3,2022-10-17,11.42,11.52,11.48,11.34,1024822.75,-0.05,-0.43,11.486,11.686,12.101,789665.24,793990.26,900085.23,0.53,11.450,11.486,11.686,12.101,12.393,991166.79,789665.24,793990.26,900085.23,978243.76
4,2022-10-14,11.45,11.63,11.53,11.40,1096061.62,0.19,1.68,11.484,11.738,12.163,777916.73,781880.89,946408.95,0.56,11.490,11.484,11.738,12.163,12.423,836083.35,777916.73,781880.89,946408.95,987807.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,2021-08-30,18.21,18.29,17.72,17.55,1252211.00,-0.67,-3.64,18.618,19.244,19.101,899937.51,976489.46,926998.98,0.65,18.190,18.618,19.244,19.100,20.827,977550.10,899937.51,976489.46,926998.98,817229.69
274,2021-08-27,18.56,18.88,18.39,18.31,728820.25,-0.07,-0.38,18.934,19.467,19.115,887865.19,913973.38,922384.56,0.38,18.670,18.934,19.467,19.115,20.941,792841.10,887865.19,913973.38,922384.56,808971.83
275,2021-08-26,19.20,19.26,18.46,18.41,951619.06,-0.70,-3.65,19.140,19.617,19.080,1065026.74,897379.87,933451.34,0.49,18.993,19.140,19.617,19.080,21.031,839552.10,1065026.74,897379.86,933451.34,803506.50
276,2021-08-25,19.42,19.47,19.16,18.95,698084.00,-0.20,-1.03,19.516,19.760,19.055,1004698.05,868863.76,929489.29,0.36,19.273,19.516,19.760,19.055,21.121,919628.88,1004698.05,868863.76,929489.29,795938.30
277,2021-08-24,19.35,19.97,19.36,19.21,868953.25,0.06,0.31,19.808,19.825,18.985,1131627.67,903886.21,947734.80,0.45,19.360,19.808,19.825,18.985,21.200,1225143.54,1131627.67,903886.21,947734.80,794720.53

In [135]:
# 读取股票列表
stock_pool = pd.read_excel('D:/gitee/data/tushare_old/allstock_221020.xlsx',dtype = 'str')
stock_list = stock_pool[['code','display_name']]
stock_list.index = stock_list['code']
stock_list = stock_list['display_name']
stock_dict = stock_list.to_dict()

In [144]:
for i,j in enumerate(os.listdir(datapath)):
    temp = pd.read_excel(str(datapath.resolve())+r"/"+j,dtype = 'str')
    temp["code"] = j[:6]
    temp["name"] = stock_dict[j[:6]]
    temp = cal_ma(temp,[3,5,10,20,60])
    if not ((i+1) % 100): 
        print("完成 {}".format(i+1))
    temp = cal_ma(temp,[3,5,10,20,60])
    acc_check(temp,[5,10,20])
print(temp)

完成 1000
           date  open  high close   low    volume price_change p_change  \
0    2022-10-20  5.19  5.23  5.13   5.1   42240.7        -0.03    -0.58
1    2022-10-19  5.29   5.3  5.16  5.16  49064.32        -0.11    -2.09
2    2022-10-18  5.25  5.36  5.27  5.21  72369.34         0.01     0.19
3    2022-10-17  5.17   5.3  5.26   5.1  73311.64         0.05     0.96
4    2022-10-14  5.13  5.26  5.21  5.06   79578.8         0.13     2.56
..          ...   ...   ...   ...   ...       ...          ...      ...
272  2021-08-31  4.98  5.07     5   4.9  15979.41         0.04     0.81
273  2021-08-30  4.87  5.08  4.96  4.85  29756.32         0.09     1.85
274  2021-08-27  4.88   4.9  4.87  4.76  18151.66        -0.03    -0.61
275  2021-08-26  4.95  4.98   4.9  4.86  20566.95        -0.05    -1.01
276  2021-08-25   4.8  4.98  4.95  4.71   39019.4         0.17     3.56

       ma5   ma10   ma20     v_ma5    v_ma10     v_ma20 turnover    code  \
0    5.206  5.099   5.21  63312.96  66933.61   82813.38     1.34  002513
1    5.196  5.104  5.225  70847.18  70201.56    88253.6     1.56  002513
2    5.162  5.098  5.244  75062.32  72592.11   96066.51      2.3  002513
3    5.084  5.093  5.268  77164.46  71867.99  105224.67     2.33  002513
4    5.014  5.081  5.307  76586.73  73995.82  122310.14     2.53  002513
..     ...    ...    ...       ...       ...        ...      ...     ...
272  4.936  4.806  4.782  24694.75  22555.15   19847.75     0.51  002513
273  4.892   4.77  4.772  26064.87  22721.31   20793.23     0.95  002513
274   4.84  4.753  4.754   26247.6  21318.37   20373.31     0.58  002513
275  4.792   4.75  4.735  26017.01  21191.11   20306.94     0.65  002513
276  4.738  4.749  4.713  24406.62  21537.11   19946.66     1.24  002513

     name   avg3    v_avg3   avg5    v_avg5  avg10   v_avg10  avg20  \
0    蓝丰生化  5.187  54558.12  5.206  63312.96  5.099  66933.61  5.210
1    蓝丰生化  5.230  64915.10  5.196  70847.18  5.104  70201.56  5.225
2    蓝丰生化  5.247  75086.59  5.162  75062.32  5.098  72592.11  5.244
3    蓝丰生化  5.183  77600.75  5.084  77164.46  5.093  71867.99  5.268
4    蓝丰生化  5.093  76543.54  5.014  76586.73  5.081  73995.82  5.307
..    ...    ...       ...    ...       ...    ...       ...    ...
272  蓝丰生化  4.943  21295.80  4.936  24694.75  4.806  22555.15  4.782
273  蓝丰生化  4.910  22824.98  4.892  26064.87  4.770  22721.30  4.772
274  蓝丰生化  4.907  25912.67  4.840  26247.60  4.753  21318.37  4.754
275  蓝丰生化  4.877  27472.12  4.792  26017.01  4.750  21191.11  4.735
276  蓝丰生化  4.810  30839.80  4.738  24406.62  4.749  21537.11  4.712

       v_avg20  avg60    v_avg60
0     82813.38  5.454  149767.85
1     88253.60  5.452  149594.09
2     96066.51  5.449  149403.65
3    105224.67  5.442  149074.58
4    122310.14  5.432  148764.15
..         ...    ...        ...
272   19847.75  4.994   33558.79
273   20793.23  4.998   33705.70
274   20373.31  4.999   33732.88
275   20306.94  4.998   33639.91
276   19946.66  4.996   33451.06

[277 rows x 27 columns]
完成 2000
           date   open   high  close    low    volume price_change p_change  \
0    2022-10-20  21.35  21.71  21.54  21.02  11597.68          0.2     0.94
1    2022-10-19   21.2  21.53  21.34   21.2   8823.88        -0.01    -0.05
2    2022-10-18  21.25  21.53  21.35   21.1   10103.6         0.05     0.23
3    2022-10-17   21.1   21.4   21.3  20.88   10619.5         0.44     2.11
4    2022-10-14  20.57   21.1  20.86  20.45   13117.2         0.32     1.56
..          ...    ...    ...    ...    ...       ...          ...      ...
273  2021-08-30  23.39   23.7  23.57  23.34   8061.78         0.01     0.04
274  2021-08-27  23.39  23.81  23.56  23.13   7888.67         0.25     1.07
275  2021-08-26  24.31  24.31  23.31  23.27  18949.27           -1    -4.11
276  2021-08-25  24.22   24.4  24.31  24.01   8665.85         0.16     0.66
277  2021-08-24  24.31   24.4  24.15  23.88  10382.52        -0.24    -0.98

        ma5    ma10    ma20     v_ma5    v_ma10    v_ma20 turnover    code  \
0    21.278  20.396  20.193  10852.37   9781.48   8838.39      0.5  300523
1    21.078  20.173  20.171  11327.14   9387.01   8951.36     0.38  300523
2    20.826  19.959  20.169  12035.56   9242.06   9188.24     0.44  300523
3     20.34   19.81  20.172  11114.74    8907.4   9196.49     0.46  300523
4    19.846  19.631  20.169  10346.62   8456.99   8941.72     0.57  300523
..      ...     ...     ...       ...       ...       ...      ...     ...
273   23.78  24.137  25.247  10789.62   13784.6  18198.63     0.35  300523
274  23.944  24.437  25.427  11300.35  15453.08   19469.6     0.34  300523
275   24.07  24.714  25.608  12523.42  16459.96  20814.86     0.83  300523
276  24.228  25.063  25.775  11427.77  17899.22  21237.34     0.38  300523
277  24.266  25.203  25.837  14170.92  18406.33  22166.01     0.45  300523

     name    avg3    v_avg3    avg5    v_avg5   avg10   v_avg10   avg20  \
0    辰安科技  21.410  10175.05  21.278  10852.37  20.396   9781.48  20.193
1    辰安科技  21.330   9848.99  21.078  11327.14  20.173   9387.01  20.171
2    辰安科技  21.170  11280.10  20.826  12035.56  19.959   9242.06  20.169
3    辰安科技  20.900  12569.40  20.340  11114.74  19.810   8907.40  20.172
4    辰安科技  20.493  13151.57  19.846  10346.62  19.631   8456.99  20.169
..    ...     ...       ...     ...       ...     ...       ...     ...
273  辰安科技  23.480  11633.24  23.780  10789.62  24.137  13784.60  25.246
274  辰安科技  23.727  11834.60  23.944  11300.35  24.437  15453.08  25.427
275  辰安科技  23.923  12665.88  24.070  12523.42  24.714  16459.96  25.607
276  辰安科技  24.283   9887.94  24.228  11427.77  25.063  17899.22  25.774
277  辰安科技  24.243  11667.33  24.266  14170.92  25.203  18406.33  25.837

      v_avg20   avg60   v_avg60
0     8838.39  21.891  11651.47
1     8951.36  21.912  11695.57
2     9188.24  21.935  11766.81
3     9196.49  21.957  11842.03
4     8941.72  21.971  11974.53
..        ...     ...       ...
273  18198.63  24.987  21346.47
274  19469.60  24.991  21448.56
275  20814.86  24.996  21558.67
276  21237.34  25.016  21523.84
277  22166.01  25.031  21831.49

[278 rows x 27 columns]
完成 3000
           date   open   high  close    low     volume price_change p_change  \
0    2022-10-20   6.96   6.99   6.84   6.78   40575.11        -0.15    -2.15
1    2022-10-19   7.18   7.39   6.99   6.96    58628.6         -0.1    -1.41
2    2022-10-18   7.18   7.23   7.09   7.06   25336.29        -0.02    -0.28
3    2022-10-17    7.1   7.11   7.11   7.02   24834.78         0.02     0.28
4    2022-10-14   6.99   7.13   7.09   6.99      35253         0.14     2.01
..          ...    ...    ...    ...    ...        ...          ...      ...
273  2021-08-30   10.1   10.3   9.99   9.81     362905        -0.54    -5.13
274  2021-08-27   10.1  11.03  10.53   9.94  506673.94          0.5     4.99
275  2021-08-26  10.26  10.45  10.03  10.01  120333.06        -0.23    -2.24
276  2021-08-25  10.28  10.37  10.26   9.95  129046.93        -0.02     -0.2
277  2021-08-24  10.38  10.52  10.28  10.24  121499.33        -0.18    -1.72

        ma5    ma10    ma20      v_ma5     v_ma10     v_ma20 turnover    code  \
0     7.024   6.883   7.036   36925.56   39244.87   48233.33     0.73  600375
1     7.046   6.876   7.073   35980.73   39129.39    49341.9     1.05  600375
2      7.04   6.865   7.109   34597.81    38368.6   48484.47     0.46  600375
3     6.954   6.876   7.145   38353.59   41559.61   49162.75     0.45  600375
4     6.826   6.858   7.181   40604.98   44310.23   50274.75     0.63  600375
..      ...     ...     ...        ...        ...        ...      ...     ...
273  10.218  10.181  10.593  248091.65  215549.43  289141.67     6.53  600375
274  10.312  10.251  10.651  211832.11  209088.17   290307.5     9.12  600375
275  10.234  10.258  10.677  139875.16  182100.45   276877.5     2.17  600375
276  10.248  10.341  10.723  149923.79   201454.3  286317.49     2.32  600375
277   10.18  10.416  10.746  158771.85  216012.44  302605.45     2.19  600375

     name    avg3     v_avg3    avg5     v_avg5   avg10    v_avg10   avg20  \
0    汉马科技   6.973   41513.33   7.024   36925.56   6.883   39244.87   7.036
1    汉马科技   7.063   36266.56   7.046   35980.73   6.876   39129.39   7.073
2    汉马科技   7.097   28474.69   7.040   34597.81   6.865   38368.60   7.109
3    汉马科技   7.050   31979.59   6.954   38353.59   6.876   41559.61   7.144
4    汉马科技   7.000   40939.32   6.826   40604.98   6.858   44310.23   7.181
..    ...     ...        ...     ...        ...     ...        ...     ...
273  汉马科技  10.183  329970.67  10.218  248091.65  10.181  215549.42  10.593
274  汉马科技  10.273  252017.98  10.312  211832.11  10.251  209088.17  10.651
275  汉马科技  10.190  123626.44  10.234  139875.16  10.258  182100.45  10.676
276  汉马科技  10.333  144051.18  10.248  149923.79  10.341  201454.30  10.722
277  汉马科技  10.293  149998.61  10.180  158771.85  10.416  216012.44  10.746

       v_avg20   avg60    v_avg60
0     48233.33   8.047   93404.20
1     49341.90   8.078   93865.80
2     48484.47   8.109   94345.10
3     49162.75   8.138   95503.24
4     50274.75   8.161   96824.64
..         ...     ...        ...
273  289141.67  10.534  422120.80
274  290307.50  10.483  416668.40
275  276877.50  10.426  409029.17
276  286317.49  10.377  408699.73
277  302605.45  10.322  407213.10

[278 rows x 27 columns]
完成 4000
           date   open   high  close    low    volume price_change p_change  \
0    2022-10-20  25.08  25.78   25.1  24.97  55182.39         0.01     0.04
1    2022-10-19  25.56  25.72  25.09  24.97  63290.38        -0.66    -2.56
2    2022-10-18   25.2  26.19  25.75  24.55  98839.12         0.75        3
3    2022-10-17  24.59  25.25     25  24.35  55893.13         0.07     0.28
4    2022-10-14  23.46  25.09  24.93  23.46  83598.26         1.52     6.49
..          ...    ...    ...    ...    ...       ...          ...      ...
273  2021-08-30   31.3  31.81  30.68  30.35  31188.14        -0.59    -1.89
274  2021-08-27  30.97  32.07  31.27  30.68   34645.9         0.08     0.26
275  2021-08-26  32.12  32.28  31.19  30.78     44660        -1.13     -3.5
276  2021-08-25  32.74   32.8  32.32  32.18  21743.31        -0.36     -1.1
277  2021-08-24  32.02  32.89  32.68  31.89  24732.31         0.71     2.22

        ma5    ma10    ma20     v_ma5    v_ma10    v_ma20 turnover    code  \
0    25.174  24.067  23.884  71360.66  57403.82  44509.76     2.62  603538
1    24.836  23.914  23.882  70279.69  56263.95  43977.96     3.01  603538
2    24.374  23.721  23.911   63711.7   54158.4  42687.93     4.69  603538
3    23.742  23.511  23.918  51621.49  48316.88  38995.28     2.65  603538
4    23.194  23.298  23.959  51963.76  45137.99  37205.58     3.97  603538
..      ...     ...     ...       ...       ...       ...      ...     ...
273  31.628  31.983  33.466  31393.93  29508.43  32961.89     2.11  603538
274  31.886  32.314  33.716   29444.7  28931.27  33563.94     2.34  603538
275  32.066    32.6  33.881  27908.18  28229.53  34430.01     3.02  603538
276  32.374  32.889   34.09  23849.32  27201.82  34342.13     1.47  603538
277    32.4  33.104  34.224  23902.16  28721.84  35097.42     1.67  603538

    name    avg3    v_avg3    avg5    v_avg5   avg10   v_avg10   avg20  \
0    美诺华  25.313  72437.30  25.174  71360.66  24.067  57403.82  23.884
1    美诺华  25.280  72674.21  24.836  70279.69  23.914  56263.95  23.882
2    美诺华  25.227  79443.50  24.374  63711.70  23.721  54158.40  23.911
3    美诺华  24.447  63089.64  23.742  51621.49  23.511  48316.88  23.918
4    美诺华  23.707  54608.75  23.194  51963.76  23.298  45137.99  23.959
..   ...     ...       ...     ...       ...     ...       ...     ...
273  美诺华  31.047  36831.35  31.628  31393.93  31.983  29508.43  33.466
274  美诺华  31.593  33683.07  31.886  29444.70  32.314  28931.27  33.716
275  美诺华  32.063  30378.54  32.066  27908.18  32.600  28229.53  33.880
276  美诺华  32.323  22639.21  32.374  23849.32  32.889  27201.82  34.090
277  美诺华  32.273  24379.19  32.400  23902.16  33.104  28721.84  34.224

      v_avg20   avg60   v_avg60
0    44509.76  26.184  47274.97
1    43977.96  26.274  47368.47
2    42687.93  26.354  47279.55
3    38995.28  26.425  46781.74
4    37205.58  26.510  47210.17
..        ...     ...       ...
273  32961.89  39.322  46981.94
274  33563.94  39.559  48322.66
275  34430.01  39.717  49552.64
276  34342.13  39.869  50554.53
277  35097.42  39.982  52582.10

[278 rows x 27 columns]

In [145]:
temp

,date,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,code,name,avg3,v_avg3,avg5,v_avg5,avg10,v_avg10,avg20,v_avg20,avg60,v_avg60
0,2022-10-20,40.01,40.81,40.06,39.66,16596.01,-0.33,-0.82,40.54,39.495,39.293,16202.76,16743.4,18456.54,689009,九号公司,40.557,14624.05,40.540,16202.76,39.495,16743.40,39.293,18456.54,45.932,27142.84
1,2022-10-19,41.76,41.76,40.39,40.14,11958.92,-0.83,-2.01,40.38,39.289,39.31,16198.89,17302.6,18872.54,689009,九号公司,40.937,15366.26,40.380,16198.89,39.289,17302.60,39.310,18872.54,46.093,27564.62
2,2022-10-18,41.03,41.86,41.22,40.54,15317.22,0.02,0.05,40.256,39.085,39.358,19104.47,17462.74,19867.76,689009,九号公司,40.750,17486.30,40.256,19104.47,39.085,17462.74,39.358,19867.76,46.188,27904.39
3,2022-10-17,39.52,41.65,41.2,39.51,18822.63,1.37,3.44,39.494,38.931,39.427,18332.36,17603.65,20021.49,689009,九号公司,40.097,17906.11,39.494,18332.36,38.931,17603.64,39.426,20021.49,46.291,28395.43
4,2022-10-14,39.84,40.66,39.83,39.25,18319.04,0.57,1.45,38.754,38.671,39.552,17521.41,17499.74,19848.98,689009,九号公司,39.620,20460.83,38.754,17521.41,38.671,17499.74,39.552,19848.97,46.413,29042.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,2021-08-30,76.89,78,74.66,72.63,34943.67,-3.39,-4.34,79.124,71.983,68.394,43201.91,25827.28,19109.83,689009,九号公司,79.270,39491.02,79.124,43201.91,71.983,25827.28,68.394,19109.83,72.605,18791.08
274,2021-08-27,83.18,83.4,78.05,76.66,37110.19,-7.05,-8.28,77.392,71.03,68.026,38912.81,23273.82,17809.11,689009,九号公司,83.077,51968.47,77.392,38912.81,71.030,23273.82,68.026,17809.11,72.617,18568.37
275,2021-08-26,87.76,87.9,85.1,81.18,46419.2,-0.98,-1.14,74.394,69.605,67.543,33204.43,21128.18,16672.85,689009,九号公司,80.970,47985.23,74.394,33204.43,69.605,21128.18,67.543,16672.85,72.613,18224.29
276,2021-08-25,80,86.08,86.08,79,72376.02,14.35,20.01,70.386,67.871,66.69,24980.86,18352.45,15161.82,689009,九号公司,74.603,37011.55,70.386,24980.86,67.871,18352.45,66.690,15161.82,72.531,18030.70
277,2021-08-24,66.2,71.73,71.73,66.2,25160.47,5.73,8.68,66.288,66.062,65.76,11982.94,13481.68,12413.74,689009,九号公司,66.930,15742.31,66.288,11982.94,66.062,13481.68,65.760,12413.74,72.388,17471.99